.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.changeHeading{
  background-color: rgba(255, 238, 235,.7);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}