main {
  margin: 20px;
}
.activityTitle{
  background-color: rgba(255, 238, 235,.7);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

.activityDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.actDescBox {
  border: 1px solid #3e3336;
  padding: 20px;
  width: 75vw;
  height: 30vh;
  overflow-y: scroll;
  background-color: #e4eff8;
  margin: 5vh auto;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.leftSide{
  display: flex;
  flex-direction: column;

}

.bolded{
  font-weight: bold;
  background-color: rgba(255, 238, 235,.7);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

.bottomThird > * {
  margin: auto 5vh;
}

.reviewContent{
  padding: 10px;
  overflow-y: scroll;
  background-color: #e4eff8;
  height: 400px;
  width: 100%;
  border: 1px solid rgb(105, 105, 105);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

@media only screen and (min-width: 781px){

  .actDescBox {
    display:flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 5vh auto;
    width: 75vw;
    height: 30vh;
  }
  
  .description{
    width: 60vw;
  }
  
  .details {
    width: 40vw;
  }

  .bottomThird {
    display: flex;
    flex-direction: row;
  }
  .reviewsSection {
    height: 500px;
    width: 100%;
  }
  .bottomThird {
    width: 75vw;
  }
  
  .reviewContent{
    overflow-y: scroll;
    padding: 10px;
    background-color: #e4eff8;
    height: 400px;
    width: 100%;
  }

}