main {
  margin: 20px;
}

.activityDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #3A4856
}
.actDescBox {
  border: 1px solid black;
  margin: 5vh auto;
  width: 40vw;
  height: 30vh;
}

.bottomThird > * {
  margin: auto 5vh;
}

@media only screen and (min-width: 781px){

  .bottomThird {
    display: flex;
    flex-direction: row;
  }
  
  .bottomThird > * {
    margin: auto 10vh;
  }

}