.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  margin-right: 0.5rem;
  background-color: rgba(255, 238, 235,.7);
}
.button{
  background-color: #4169e1;
  color: white;
}
.inputContainer {
  margin-bottom: 1rem;
}
