.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  background-color: rgba(255, 238, 235,.7);

  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}
