.navbar a {
  text-decoration: none;
}

.button-primary {
  color: white;
  font-weight: 600;
  width: 200px; 
  background: var(--primary);
}

.navbar-toggler{
  width: auto;
}
.carousel-caption{
  padding-bottom: 29.25rem;
}