

body {
  background: #FFEEEB;
  color: #2C2527;
  font-family: 'Ubuntu', sans-serif;
}
a {
  --bs-link-color: #2c2527;
}
.navbar a {
  text-decoration: none;
  --bs-link-color: var(--primary);
}

.button-primary {
  color: white;
  font-weight: 600;
  width: 200px; 
  background: var(--primary);
}

.navbar-toggler{
  width: auto;
}
.carousel-caption{
  padding-bottom: 29.25rem;
}

.btn-outline-warning {
  --bs-btn-border-color: #2C2527;
  --bs-btn-color: #2C2527;
  --bs-btn-hover-bg: #20c997;
  /* --bs-btn-bg: #20c997; */
  --bs-btn-hover-border-color: #DAD2E2;
}
