.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
  background-color: rgba(255, 238, 235,.7);
}

.inputContainer {
  margin-bottom: 1rem;
}
.changeHeading{
  background-color: rgba(255, 238, 235,.7);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}
.button {
  background-color: #4169e1;
  color: white;
}